<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <config>
        <add key="repositoryPath" value="%PACKAGEHOME%\External" />
        <add key="dependencyVersion" value="Highest" />
    </config>
    <packageRestore>
        <!-- Allow NuGet to download missing packages -->
        <add key="enabled" value="True" />

        <!-- Automatically check for missing packages during build in Visual Studio -->
        <add key="automatic" value="True" />
    </packageRestore>
    <packageSourceCredentials>
        <TRACIE>
            <add key="Username" value="nuget" />
            <add key="ClearTextPassword" value="Orange4me" />
        </TRACIE>
    </packageSourceCredentials>
    <packageSources>
        <add key="TRACIE" value="http://md18octopus:8080/httpAuth/app/nuget/feed/Tracie/default/v2" />
    </packageSources>
</configuration>